.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 960px;
  background-color: var(--secondary-bg-color);
  gap: 24px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    .content {
      padding: 24px;
      font-size: 24px;
      min-width: 360px;
      background-color: var(--main-bg-color);
      h1 {
        margin: 0 0 0 0;
        font-size: 60px;
      }
      p {
        color: white;
      }
    }
    .link {
      padding: 24px;
      min-width: 360px;
      background-color: var(--accent-color);
      a {
        color: white;
        font-size: 36px;
        text-decoration: none;
      }
    }
  }
  img {
    margin-top: 10%;
    height: 560px;
    // max-width: 50%;
    border: 8px solid var(--accent-color);
  }
}
