.page {
  display: flex;
  flex-grow: 1;
  min-height: 960px;
  background-color: var(--secondary-bg-color);
  .panel {
    padding: 32px;
    width: 50%;
    margin: 0;
    background-color: var(--main-bg-color);
    height: 50%;
    h1 {
      padding-left: 16px;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 16px;

    h2 {
      margin-bottom: 0;
      font-size: 16px;
      // padding-bottom: 0;
    }
    p {
      margin-top: 8px;
      color: white;
    }
  }
  .volunteer {
    h1 {
      color: var(--contrast-color);
    }
    background-color: var(--accent-color);
    height: 50%;
    gap: 16px;
    padding: 16px;
  }
  .skillsPanel {
    @extend .panel;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    h1 {
      padding-left: 16px;
    }
    h2 {
      color: var(--text-color);
    }
    h3 {
      color: var(--contrast-color);
    }
    .skills {
      display: inline-flex;
      align-items: center;
      gap: 16px;
      .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    img {
      height: 64px;
    }
  }
}

.icon {
  height: 64px;
}
